[submodule "spdlog"]
	path = Soda/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "CottonGlfw"]
	path = Soda/submodules/glfw
	url = https://github.com/CottonBall74/glfw
	branch = latest
