[submodule "spdlog"]
	path = SodaEngine/submodules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SodaEngine/submodules/imgui"]
	path = SodaEngine/submodules/imgui
	url = https://github.com/CottonBall74/imgui
[submodule "SodaEngine/submodules/glfw"]
	path = SodaEngine/submodules/glfw
	url = https://github.com/CottonBall74/glfw
	branch = latest
[submodule "SodaEngine/submodules/glm"]
	path = SodaEngine/submodules/glm
	url = https://github.com/g-truc/glm.git
